.moviePoster {
    min-height: 30vh;
    width: 40vw;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .moviePoster {
      width: 80vw;
    }

    .movieDetail {
        width: 70vw !important;
    }
}

.movieDetail {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    width: 35vw;
}

.movieHeader {
    display: flex;
    align-items: flex-end;
}

.movieHeader h2:nth-child(2) {
    margin-left: 10px;
}