.animateIcon {
 animation: cssAnimation 1s;
 opacity: 1;
 transition: opacity 500ms;
}

@keyframes cssAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.iconContainer {
    display: flex;
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    /* opacity: 0.8; */
    justify-content: center;
    align-items: center;
    color: white;
}

.icon {
  font-size: 35px;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .icon {
    font-size: 25px;
  }

  .iconContainer {
    width: 35px;
    height: 35px;
    min-width: 35px;
  }
}
